<h1>Modifier un potin</h1>
<% if @gossip.errors.any? %>
  <div class="alert alert-danger">
    <p>Nous n'avons pas réussi à mettre à jour le potin pour la raison suivante :</p>
    <ul>
      <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_tag gossip_path(@gossip), method: :patch do %>
  <div class="form-group">
    <%= label_tag :title, "Titre" %>
    <%= text_field_tag :title, @gossip.title, class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= label_tag :content, "Contenu" %>
    <%= text_area_tag :content, @gossip.content, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= submit_tag "Mettre à jour", class: "btn btn-primary" %>
  </div>
<% end %>
