<h1><%= @gossip.title %></h1>
<p><%= @gossip.content %></p>
<p><strong>Auteur :</strong> <%= link_to @gossip.author.first_name, user_path(@gossip.author) %></p>

<%= link_to "Modifier ce potin", edit_gossip_path(@gossip), class: "btn btn-warning" %>
<%= link_to "Supprimer ce potin", gossip_path(@gossip),
    method: :delete,
    data: { confirm: "Es-tu sûr de vouloir supprimer ce potin ?" },
    class: "btn btn-danger" %>

<%= link_to "⬅ Retour", gossips_path, class: "btn btn-secondary mt-3" %>
